@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.display-none {
  display: none !important;
}

body {
  background-color: #424242;
}

body {
  font-family: "Comic Neue", cursive;
  font-size: 16px;
}

.header {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  background-color: #000;
}
.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 32px;
}
.header__logo {
  cursor: pointer;
}
.header__icon {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 35px;
  fill: #fff;
  margin: 0 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

@media (min-width: 768px) {
  .header__wrapper {
    max-width: 83.333333%;
    margin: 0 auto;
    justify-content: start;
    padding: 16px 32px;
  }
  .header__icon {
    left: 5%;
  }
}
.row {
  display: flex;
  flex-wrap: wrap;
  row-gap: 16px;
  margin-left: -10px;
  margin-right: -10px;
}

.col-1 {
  width: 8.3333333333%;
  padding-left: 10px;
  padding-right: 10px;
}

.col-2 {
  width: 16.6666666667%;
  padding-left: 10px;
  padding-right: 10px;
}

.col-3 {
  width: 25%;
  padding-left: 10px;
  padding-right: 10px;
}

.col-4 {
  width: 33.3333333333%;
  padding-left: 10px;
  padding-right: 10px;
}

.col-5 {
  width: 41.6666666667%;
  padding-left: 10px;
  padding-right: 10px;
}

.col-6 {
  width: 50%;
  padding-left: 10px;
  padding-right: 10px;
}

.col-7 {
  width: 58.3333333333%;
  padding-left: 10px;
  padding-right: 10px;
}

.col-8 {
  width: 66.6666666667%;
  padding-left: 10px;
  padding-right: 10px;
}

.col-9 {
  width: 75%;
  padding-left: 10px;
  padding-right: 10px;
}

.col-10 {
  width: 83.3333333333%;
  padding-left: 10px;
  padding-right: 10px;
}

.col-11 {
  width: 91.6666666667%;
  padding-left: 10px;
  padding-right: 10px;
}

.col-12 {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

@media (min-width: 768px) {
  .row {
    margin: 0 -8px;
  }
  .col-md-1 {
    width: 8.3333333333%;
    padding: 0 8px;
  }
  .col-md-2 {
    width: 16.6666666667%;
    padding: 0 8px;
  }
  .col-md-3 {
    width: 25%;
    padding: 0 8px;
  }
  .col-md-4 {
    width: 33.3333333333%;
    padding: 0 8px;
  }
  .col-md-5 {
    width: 41.6666666667%;
    padding: 0 8px;
  }
  .col-md-6 {
    width: 50%;
    padding: 0 8px;
  }
  .col-md-7 {
    width: 58.3333333333%;
    padding: 0 8px;
  }
  .col-md-8 {
    width: 66.6666666667%;
    padding: 0 8px;
  }
  .col-md-9 {
    width: 75%;
    padding: 0 8px;
  }
  .col-md-10 {
    width: 83.3333333333%;
    padding: 0 8px;
  }
  .col-md-11 {
    width: 91.6666666667%;
    padding: 0 8px;
  }
  .col-md-12 {
    width: 100%;
    padding: 0 8px;
  }
}
@media (min-width: 992px) {
  .row {
    margin: 0 -8px;
  }
  .col-l-1 {
    width: 8.3333333333%;
    padding: 0 8px;
  }
  .col-l-2 {
    width: 16.6666666667%;
    padding: 0 8px;
  }
  .col-l-3 {
    width: 25%;
    padding: 0 8px;
  }
  .col-l-4 {
    width: 33.3333333333%;
    padding: 0 8px;
  }
  .col-l-5 {
    width: 41.6666666667%;
    padding: 0 8px;
  }
  .col-l-6 {
    width: 50%;
    padding: 0 8px;
  }
  .col-l-7 {
    width: 58.3333333333%;
    padding: 0 8px;
  }
  .col-l-8 {
    width: 66.6666666667%;
    padding: 0 8px;
  }
  .col-l-9 {
    width: 75%;
    padding: 0 8px;
  }
  .col-l-10 {
    width: 83.3333333333%;
    padding: 0 8px;
  }
  .col-l-11 {
    width: 91.6666666667%;
    padding: 0 8px;
  }
  .col-l-12 {
    width: 100%;
    padding: 0 8px;
  }
}
.input {
  display: flex;
  align-items: center;
  border: 1px solid #f6c700;
  background-color: #000;
  padding: 2px 4px;
  border-radius: 4px;
}
.input__text {
  font-size: 16px;
  flex: 1;
  background-color: #000;
  padding: 6px 0 7px;
  color: #fff;
  border: none;
  margin-left: 8px;
}
.input__text:focus {
  outline: none;
}
.input__icon {
  padding: 10px;
  cursor: pointer;
}
.input__icon > svg {
  fill: #fff;
  width: 24px;
  height: 24px;
}

.card {
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.card__info {
  position: relative;
}
.card__poster {
  object-fit: cover;
  height: 400px;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.card__poster:hover {
  transform: scale(1.1);
  filter: brightness(1.3) contrast(0.85);
}
.card__title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  padding: 16px;
  background: linear-gradient(0deg, #000, transparent);
}
.card__group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
  background-color: #000;
  height: 64px;
  z-index: 10;
}
.card__year {
  display: flex;
  align-items: center;
  gap: 6px;
  color: #fff;
  font-style: italic;
}
.card__icon {
  width: 24px;
  fill: #fff;
}
.card__icon--heart {
  width: 48px;
  height: 48px;
  border-radius: 100%;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.card__icon--heart:hover {
  background-color: rgba(255, 255, 255, 0.08);
}

.card.loading {
  background-color: #000;
}
.card.loading .card__poster {
  background-color: rgba(255, 255, 255, 0.13);
}
.card.loading .card__title > * {
  width: 80%;
  height: 40px;
  transform: scale(1, 0.6);
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.13);
}
.card.loading .card__year {
  width: 100px;
  height: 40px;
  transform: scale(1, 0.6);
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.13);
}
.card.loading .card__icon {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.13);
}

.loading__item {
  position: relative;
  overflow: hidden;
}
.loading__item::after {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  position: absolute;
  animation: wave 1.6s linear 0.5s infinite;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.08),
    transparent
  );
}

@media (min-width: 768px) {
  .card__year {
    font-size: 18px;
  }
}
@keyframes wave {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
.info-item {
  display: flex;
  align-items: center;
  color: #fff;
  padding-bottom: 16px;
}
.info-item__label {
  font-weight: 700;
  width: 25%;
}
.info-item__value {
  width: 75%;
  opacity: 0.7;
}

@media (min-width: 992px) {
  .info-item__label {
    width: 16%;
    font-size: 18px;
  }
  .info-item__value {
    width: 84%;
    font-size: 18px;
  }
}
.home {
  background-color: #424242;
}
.home-wrapper {
  padding: 80px 32px 32px;
}
.home__search {
  margin-bottom: 32px;
}
.home__message {
  color: #fff;
  text-align: center;
}

@media (min-width: 768px) {
  .home-wrapper {
    max-width: 83.333333%;
    margin: 0 auto;
    padding-top: 96px;
  }
}
@media (min-width: 992px) {
  .home__search {
    max-width: 33.333333%;
    margin: 0 auto 32px;
  }
}
.detail {
  margin-top: 64px;
  row-gap: 0;
  background-color: #424242;
}
.detail__poster {
  height: 600px;
}
.detail__content {
  background-color: #424242;
  color: #fff;
  padding: 0 16px;
}
.detail__title-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.detail__title {
  font-size: 40px;
}
.detail__rating {
  display: flex;
  align-items: center;
  gap: 2px;
}
.detail__rating-point {
  color: #f6c700;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.detail__rating-sum {
  font-size: 12px;
  opacity: 0.5;
  color: #fff;
  font-style: italic;
}
.detail__votes {
  font-size: 13px;
}
.detail__icon {
  fill: #f6c700;
  width: 35px;
  height: 35px;
}
.detail__meta {
  display: flex;
  align-items: center;
}
.detail__meta--item {
  margin: 16px 0;
  padding: 0 16px;
  font-size: 12px;
  opacity: 0.7;
  border-right: 2px solid hsla(0, 0%, 100%, 0.5);
}
.detail__meta--item:first-child {
  padding-left: 0;
}
.detail__meta--item:last-child {
  border-right: none;
}
.detail__description {
  padding-bottom: 16px;
  margin-bottom: 16px;
  font-size: 20px;
  line-height: 24px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}

.load {
  margin-top: 0;
}
.load .detail__poster {
  background-color: rgba(255, 255, 255, 0.13);
  height: 500px;
  margin-bottom: 10px;
}
.load .detail__title {
  background-color: rgba(255, 255, 255, 0.13);
  width: 70%;
  height: 80px;
  transform: scale(1, 0.6);
}
.load .detail__rating {
  background-color: rgba(255, 255, 255, 0.13);
  width: 20%;
  height: 80px;
  transform: scale(1, 0.6);
}
.load .detail__description {
  background-color: rgba(255, 255, 255, 0.13);
  width: 100%;
  height: 40px;
  transform: scale(1, 0.6);
}
.load .info-item {
  gap: 10px;
}
.load .info-item__label,
.load .info-item__value {
  background-color: rgba(255, 255, 255, 0.13);
  height: 40px;
  transform: scale(1, 0.6);
}

@media (min-width: 768px) {
  .detail {
    max-width: 83.333333%;
    margin: 120px auto 0;
  }
  .detail__rating-sum {
    font-size: 16px;
  }
  .detail__votes {
    font-size: 16px;
  }
  .detail__meta--item {
    font-size: 16px;
  }
}

/*# sourceMappingURL=main.css.map */
