.detail {
  margin-top: 64px;
  row-gap: 0;
  background-color: $background-color;

  &__poster {
    height: 600px;
  }

  &__content {
    background-color: $background-color;
    color: $white;
    padding: 0 16px;
  }

  &__title-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    font-size: 40px;
  }

  &__rating {
    display: flex;
    align-items: center;
    gap: 2px;

    &-point {
      color: $yellow;
      font-size: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &-sum {
      font-size: 12px;
      opacity: 0.5;
      color: $white;
      font-style: italic;
    }
  }

  &__votes {
    font-size: 13px;
  }

  &__icon {
    fill: $yellow;
    width: 35px;
    height: 35px;
  }

  &__meta {
    display: flex;
    align-items: center;

    &--item {
      margin: 16px 0;
      padding: 0 16px;
      font-size: 12px;
      opacity: 0.7;
      border-right: 2px solid $gray;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        border-right: none;
      }
    }
  }

  &__description {
    padding-bottom: 16px;
    margin-bottom: 16px;
    font-size: 20px;
    line-height: 24px;
    border-bottom: 1px solid $gray-dark;
  }
}

.load {
  margin-top: 0;
  .detail {
    &__poster {
      background-color: $background-gray;
      height: 500px;
      margin-bottom: 10px;
      animation: fadeIn 1.5s ease-in-out 0.5s infinite;
    }
    &__title {
      background-color: $background-gray;
      width: 70%;
      height: 80px;
      transform: scale(1, 0.6);
      animation: fadeIn 1.5s ease-in-out 0.5s infinite;
    }

    &__rating {
      background-color: $background-gray;
      width: 20%;
      height: 80px;
      transform: scale(1, 0.6);
      animation: fadeIn 1.5s ease-in-out 0.5s infinite;
    }

    &__description {
      background-color: $background-gray;
      width: 100%;
      height: 40px;
      transform: scale(1, 0.6);
      animation: fadeIn 1.5s ease-in-out 0.5s infinite;
    }
  }

  .info-item {
    gap: 10px;
    &__label,
    &__value {
      background-color: $background-gray;
      height: 40px;
      transform: scale(1, 0.6);
      animation: fadeIn 1.5s ease-in-out 0.5s infinite;
    }
  }
}

@media (min-width: $breakpoint-md) {
  .detail {
    max-width: 83.333333%;
    margin: 120px auto 0;

    &__rating {
      &-sum {
        font-size: 16px;
      }
    }

    &__votes {
      font-size: 16px;
    }

    &__meta {
      &--item {
        font-size: 16px;
      }
    }
  }

  .load {
    max-width: 83.333333%;
    margin: 0 auto;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}
