.home {
  background-color: $background-color;
  &-wrapper {
    padding: 80px 32px 32px;
  }
  &__search {
    margin-bottom: 32px;
  }

  &__message {
    color: $white;
    text-align: center;
  }
}

@media (min-width: $breakpoint-md) {
  .home {
    &-wrapper {
      max-width: 83.333333%;
      margin: 0 auto;
      padding-top: 96px;
    }
  }
}

@media (min-width: $breakpoint-lg) {
  .home {
    &__search {
      max-width: 33.333333%;
      margin: 0 auto 32px;
    }
  }
}
