.header {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  background-color: $black;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 32px;
  }

  &__logo {
    cursor: pointer;
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 35px;
    fill: $white;
    margin: 0 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}

@media (min-width: $breakpoint-md) {
  .header {
    &__wrapper {
      max-width: 83.333333%;
      margin: 0 auto;
      justify-content: start;
      padding: 16px 32px;
    }

    &__icon {
      left: 5%;
    }
  }
}
