.card {
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  &__info {
    position: relative;
  }

  &__poster {
    object-fit: cover;
    height: 400px;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    &:hover {
      transform: scale(1.1);
      filter: brightness(1.3) contrast(0.85);
    }
  }

  &__title {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: $white;
    padding: 16px;
    background: linear-gradient(0deg, #000, transparent);
  }

  &__group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
    background-color: $black;
    height: 64px;
    z-index: 10;
  }

  &__year {
    display: flex;
    align-items: center;
    gap: 6px;
    color: $white;
    font-style: italic;
  }

  &__icon {
    width: 24px;
    fill: $white;

    &--heart {
      width: 48px;
      height: 48px;
      border-radius: 100%;
      padding: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      &:hover {
        background-color: rgba(255, 255, 255, 0.08);
      }
    }
  }
}

@media (min-width: $breakpoint-md) {
  .card {
    &__year {
      font-size: 18px;
    }
  }
}
